/* Universal selector */
* {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

/* Element selectors */

.bg {
    background-color: rgb(106, 99, 126);
    opacity: .95;
    background-position: absolute;
    height: 800px;
    width: 800px;
    position: absolute;
}

.content {
    color: #ffffff;
    text-align: wrap;
}

body {
    background-image: url(../Challenge2/assets/images/simple-technology-minimalism-1080P-wallpaper-middle-size.jpeg);
    background-position: right;
    background-attachment: fixed;
    background-size: 800px 800px;
}

header,
footer {
    position: inherit;
  width: 100%;
  height: 100px;
  line-height: 100px;
  color: #ffffff;
  background-color: #000000;
}

/* Class selector */
.highlighted-text {
  font-weight:bolder;
  color: lightgray;
}

/* ID selector */
#contact-section {
position: relative;
  background-color: #000000;
}
